<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>肇庆管廊项目Demo</title>

    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <!--<link rel="stylesheet" href="css/init.css">-->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script  src="js/vue.js"></script>
    <script  src="js/jquery-2.1.1.min.js"></script>
    <script  src="js/jquery.mobile-1.4.5.min.js"></script>
    <script  src="js/vue-resource.js"></script>
    <script  src="js/bootstrap.js"></script>
</head>
<body>

<div data-role="page" id="pageone" style="overflow：scroll;">
    <div id="qxjlpage">
        <div data-role="header">
            <h1>肇庆综合管廊系统Demo</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" class="ui-btn-active ui-state-persist"  data-icon="home">缺陷管理</a></li>
                    <li><a href="#xsjlpage"  data-icon="arrow-r">巡视管理</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <label style="margin-top: 1rem;color: gray;" id="addqxinfo" >添加缺陷信息</label>
        </div>
        <!-- 添加缺陷 -->
        <div style="margin: 1rem;">
            <form class="form-horizontal" role="form" >
                <label class="col-sm-2 control-label">线路名称：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.xlmc" >
                </div>
                <label class="col-sm-2 control-label">电压等级：</label>
                <div class="col-sm-10">
                    <select class="combobox" v-model="newqxjl.dydj">
                        <option value="500kV">500kV</option>
                        <option value="220kV">220kV</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">缺陷类别：</label>
                <div class="col-sm-10">
                    <select class="combobox" v-model="newqxjl.qxlb">
                        <option value="严重" selected="selected">严重</option>
                        <option value="危急">危急</option>
                        <option value="一般">一般</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">上报时间：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date"  v-model="newqxjl.sbrq" >
                </div>
                <label class="col-sm-2 control-label">发现人：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.fxr" >
                </div>
                <label class="col-sm-2 control-label">缺陷内容：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.qxnr" >
                </div>
                <label class="col-sm-2 control-label">缺陷附件：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.qxfj" >
                </div>
                <label class="col-sm-2 control-label">处理情况：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.clqk" >
                </div>
                <label class="col-sm-2 control-label">处理人员：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.clry" >
                </div>
                <label class="col-sm-2 control-label">处理日期：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date"  v-model="newqxjl.clrq" >
                </div>
                <label class="col-sm-2 control-label">遗留问题：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.ylwt" >
                </div>
                <label class="col-sm-2 control-label">验收人员：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.ysry" >
                </div>
                <label class="col-sm-2 control-label">填表人：</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text"  v-model="newqxjl.tbr" >
                </div>
            </form>
            <div class="form-group">
                <button class="btn btn-primary" type="button" @click="addqxjl">添加缺陷记录</button>
            </div>
        </div>
        <label style="margin-top: 1rem;color: gray" class="col-sm-12" id="queryqxinfo">查询</label>
        <!-- 查询 -->
        <form class="form-horizontal" role="form">
            <label class="col-sm-2 control-label">线路名称：</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" v-model="searchqxjl.xlmc">
            </div>
            <label class="col-sm-2 control-label">电压等级：</label>
            <div class="col-sm-4">
                <select class="combobox" v-model="searchqxjl.dydj">
                    <option value="">全部</option>
                    <option value="500kV">500kV</option>
                    <option value="220kV">220kV</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">缺陷类别：</label>
            <div class="col-sm-4">
                <select class="combobox" v-model="searchqxjl.qxlb">
                    <option value="">全部</option>
                    <option value="严重" >严重</option>
                    <option value="危急">危急</option>
                    <option value="一般">一般</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">上报时间：</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" v-model="searchqxjl.sbsj">
            </div>
            <label class="col-sm-2 control-label">处理情况：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" v-model="searchqxjl.clqk">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" type="button" @click="searchqx">查询</button>
            </div>
        </form>
        <label style="margin-top: 1rem;color: gray;" class="col-sm-12" id="resultqxinfo" >查询结果</label>
        <div class="ui-content table-responsive" style="margin-bottom: 6rem;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>线路名称</td>
                    <td>电压等级</td>
                    <td>缺陷类别</td>
                    <td>上报时间</td>
                    <td>发现人</td>
                    <td>缺陷内容</td>
                    <td>缺陷附件</td>
                    <td>处理情况</td>
                    <td>处理人员</td>
                    <td>处理日期</td>
                    <td>遗留问题</td>
                    <td>验收人员</td>
                    <td>填表人</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(qxjl,index) in qxjls" @click="clickQxjlGridItem(qxjl)">
                    <td>{{qxjl.xlmc}}</td>
                    <td>{{qxjl.dydj}}</td>
                    <td>{{qxjl.qxlb}}</td>
                    <td>{{qxjl.sbrq}}</td>
                    <td>{{qxjl.fxr}}</td>
                    <td>{{qxjl.qxnr}}</td>
                    <td>{{qxjl.qxfj}}</td>
                    <td>{{qxjl.clqk}}</td>
                    <td>{{qxjl.clry}}</td>
                    <td>{{qxjl.clrq}}</td>
                    <td>{{qxjl.ylwt}}</td>
                    <td>{{qxjl.ysry}}</td>
                    <td>{{qxjl.tbr}}</td>
                    <td><button  data-toggle="modal" data-target="#layerqx" @click="delobj=qxjl">删除</button></td>
                </tr>
                <tr>
                    <td class="text-center text-muted" colspan="14" v-show="qxjls.length==0">
                        暂无数据...
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 弹出 模态框-->
        <div role="dialog" class="modal fade" id="layerqx">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="width: 1rem;height: 1rem;">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">确认删除？</h4>
                    </div>
                    <div class="modal-body text-right">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" style="width: 5rem;height: 2.5rem;">取消</button>
                        <button class="btn btn-danger btn-sm" data-dismiss="modal" style="width: 5rem;height: 2.5rem;" @click="deleteQxjl(delobj)">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let vue = new Vue({
            el:"#qxjlpage",
            data:{
                qxjls:[],
                newqxjl:{xlmc:"",dydj:"500kV",qxlb:"一般",sbrq:"",fxr:"",qxnr:"",qxfj:"",clqk:"",clry:"",clrq:""
                    ,ylwt:"",ysry:"",tbr:""},
                searchqxjl:{xlmc:"",dydj:"500kV",qxlb:"一般",sbsj:"",clqk:""},
                delobj:{}
            },
            methods:{
                getqxjl:function(){
                    this.$http.get('queryqxjl',{}).then(function(res){
                        this.qxjls = res.body;
                        //console.log(JSON.stringify(res))
                    },function(){
                        console.log('请求失败处理');   //失败处理
                    });
                },
                searchqx:function () {
                    this.$http.post('searchqx',this.searchqxjl).then(function(res){
                        this.qxjls = res.body;
                        //console.log(JSON.stringify(res))
                    },function(){
                        console.log('请求失败处理');   //失败处理
                    });
                },
                addqxjl:function(){
                    if(this.newqxjl.xlmc===""){
                        alert("线路名称不能为空");
                        return;
                    }
                    if(this.newqxjl.sbrq===""||this.newqxjl.clrq===""){
                        alert("时间日期不能为空");
                        return;
                    }
                    this.$http.post('addqxjl',this.newqxjl).then(function(res){
                        this.qxjls = res.body;
                        this.getqxjl();
                    },function(){
                        console.log('请求失败处理');   //失败处理
                    });
                    // this.qxjls.unshift(this.newqxjl);
                    this.newqxjl = {xlmc:"",dydj:"500kV",qxlb:"",sbrq:"",fxr:"",qxnr:"",qxfj:"",clqk:"",clry:"",clrq:""
                        ,ylwt:"",ysry:"",tbr:""};
                },
                modifyqxjl:function () {
                    this.$http.post('modqxjl',this.newqxjl).then(function(res){
                        this.qxjls = res.body;
                        this.getqxjl();
                    },function(){
                        console.log('请求失败处理');   //失败处理
                    });
                },
                deleteQxjl:function(qxjl){
                    console.log(JSON.stringify(qxjl));
                    this.$http.post('deleteqxjl',{id:qxjl.id}).then(function(res){
                        this.qxjls = res.body;
                        this.getqxjl();
                    },function(){
                        console.log('请求失败处理');   //失败处理
                    });
                },
                clickQxjlGridItem:function(qxjl){
                    //this.newqxjl = qxjl;
                    //  document.getElementById("oddNum").parent().find("tr.focus").toggleClass("focus");//取消原先选中行
                    //   $(this).toggleClass("focus");//设定当前行为选中行
                }
            }
        });
        vue.getqxjl();
    </script>

    <div data-role="footer" class="col-sm-12" style="background:url('images/footbg.png') repeat; height: 141px; border: hidden;text-align: center;position:fixed;bottom:0;z-index:998;" >
        <div class="text-left col-sm-6 ">
            <img  src="images/search.png" style="margin-top: 22px" onclick="anchorLocation(qxsearchinfo)">
        </div>
        <div class="text-right col-sm-6">
            <img  src="images/result.png" style="margin-top: 22px" onclick="anchorLocation(qxresultinfo)">
        </div>
    </div>
    <script type="text/javascript">

        let qxsearchinfo = $(queryqxinfo);
        let qxaddinfo =  $(addqxinfo);
        let qxresultinfo = $(resultqxinfo);


        // 锚点 定位
        function anchorLocation(el){
            $("html, body").animate(
                {
                    scrollTop:el.offset().top
                },
                {duration: 500,easing: "swing"}
            );
            return false;
        }

    </script>
    <div class="text-center" style="width: 10rem; margin:0 45%;border: hidden;bottom:0;z-index:999;position: fixed">
        <img src="images/add.png" onclick="anchorLocation(qxaddinfo)">
    </div>
</div>

<div data-role="page" id="xsjlpage">
    <div data-role="header">
        <h1>肇庆综合管廊系统Demo</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#pageone" data-icon="home">缺陷管理</a></li>
                <li><a href="#" class="ui-btn-active ui-state-persist" data-icon="arrow-r">巡视管理</a></li>
            </ul>
        </div>
    </div>

    <label style="margin-top: 1rem;color: gray" class="col-sm-12" id="addxsinfo">添加巡视信息</label>
    <div style="margin: 1rem;">
        <form class="form-horizontal" role="form">
            <label class="col-sm-2 control-label">巡视区域：</label>
            <div class="col-sm-10">
                <input class="form-control" type="text"  v-model="newxsjl.xsqy" >
            </div>
            <label class="col-sm-2 control-label">发现问题：</label>
            <div class="col-sm-10">
                <input class="form-control" type="text"  v-model="newxsjl.fxwt" >
            </div>
            <label class="col-sm-2 control-label">处理意见：</label>
            <div class="col-sm-10">
                <input class="form-control" type="text"  v-model="newxsjl.clyj" >
            </div>
            <label class="col-sm-2 control-label">巡视日期：</label>
            <div class="col-sm-10">
                <input class="form-control" type="date"  v-model="newxsjl.xsrq" >
            </div>
            <label class="col-sm-2 control-label">巡查人：</label>
            <div class="col-sm-10">
                <input class="form-control" type="text"  v-model="newxsjl.xcr" >
            </div>
        </form>
        <div class="form-group">
            <button class="btn btn-primary" type="button"  @click="addXsjl">添加巡视记录</button>
        </div>
    </div>
    <label style="margin-top: 1rem;color: gray" class="col-sm-12" id="queryxsinfo" >查询</label>
    <form class="form-horizontal" role="form">
        <label class="col-sm-2 control-label">巡视区域：</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" v-model="searchxs.xsqy">
        </div>
        <label class="col-sm-2 control-label">巡查时间：</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" v-model="searchxs.xsrq">
        </div>
        <label class="col-sm-2 control-label">巡视人：</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" v-model="searchxs.xcr">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="button" @click="searchXsjl">查询</button>
        </div>
    </form>
    <label style="margin-top: 1rem;color: gray;" class="col-sm-12" id="resultxsinfo">查询结果</label>
    <div class="ui-content table-responsive" style="margin-bottom: 6rem;">
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <td>巡视区域</td>
                <td>发现问题</td>
                <td>处理意见</td>
                <td>巡视日期</td>
                <td>巡查人</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(xsjl,index) in xsjls" @click="clickXsjlGridItem(xsjl)" class="text-center">
                <td>{{xsjl.xsqy}}</td>
                <td>{{xsjl.fxwt}}</td>
                <td>{{xsjl.clyj}}</td>
                <td>{{xsjl.xsrq}}</td>
                <td>{{xsjl.xcr}}</td> <!--@click="deleteXsjl(xsjl)" -->
                <td><button  data-toggle="modal" data-target="#layerxs" @click="delobj=xsjl">删除</button></td>
            </tr>
            <tr>
                <td class="text-center text-muted" colspan="14" v-show="xsjls.length==0">
                    暂无数据...
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 弹出 模态框-->
    <div role="dialog" class="modal fade" id="layerxs">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="width: 1rem;height: 1rem;">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">确认删除？</h4>
                </div>
                <div class="modal-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal" style="width: 5rem;height: 2.5rem;">取消</button>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" style="width: 5rem;height: 2.5rem;" @click="deleteXsjl(delobj)">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div data-role="footer" class="col-sm-12" style="background:url('images/footbg.png') repeat; height: 141px; border: hidden;text-align: center;position:fixed;bottom:0;z-index:998;" >
        <div class="text-left col-sm-6 ">
            <img  src="images/search.png" style="margin-top: 22px" onclick="tzfunc(xssearchinfo)">
        </div>
        <div class="text-right col-sm-6">
            <img  src="images/result.png" style="margin-top: 22px" onclick="tzfunc(xsresultinfo)">
        </div>
    </div>
    <div class="text-center" style="width: 10rem; margin:0 45%;border: hidden;bottom:0;z-index:999;position: fixed">
        <img src="images/add.png" onclick="tzfunc(xsaddinfo)">
    </div>
</div>
<script type="text/javascript">
    let  xsjlVue = new Vue({
        el:"#xsjlpage",
        data:{
            xsjls:[],
            newxsjl:{xsqy:"",fxwt:"",clyj:"",xsrq:"",xcr:""},
            searchxs:{xsqy:"",xsrq:"",xcr:""},
            delobj:{}
        },
        methods:{
            getXsjl:function(){
                this.$http.get("queryXsjl",{}).then(function(res){
                    this.xsjls = res.body;
                },function(){
                    console.log('请求失败处理');   //失败处理
                });
            },
            searchXsjl:function(){
                this.$http.post("searchXs",this.searchxs).then(function(res){
                    this.xsjls = res.body;
                },function(){
                    console.log('请求失败处理');   //失败处理
                });
            },
            addXsjl:function(){
                if(this.newxsjl.xsqy===""){
                    alert("巡视区域不能为空");
                    return;
                }
                if(this.newxsjl.xsrq===""){
                    alert("时间日期不能为空");
                    return;
                }
                this.$http.post("addXsjl",this.newxsjl).then(function(res){
                    //this.xsjls = res.body;
                    this.getXsjl();
                },function(){
                    console.log('请求失败处理');   //失败处理
                });
                // this.qxjls.unshift(this.newqxjl);
                this.newxsjl = {xsqy:"",fxwt:"",clyj:"",xsrq:"",xcr:""};
            },
            modifyXsjl:function () {
                this.$http.post("modXsjl",this.newxsjl).then(function(res){
                    // this.qxjls = res.body;
                    this.getXsjl();
                },function(){
                    console.log('请求失败处理');   //失败处理
                });
            },
            deleteXsjl:function(xsjl){
                console.log(xsjl);
                console.log(JSON.stringify(xsjl));
                this.$http.post("deleteXsjl",{id:xsjl.id}).then(function(res){
                    //this.qxjls = res.body;
                    this.getXsjl();
                },function(){
                    console.log('请求失败处理');   //失败处理
                });
            },
            clickXsjlGridItem:function(xsjl){
                console.log(xsjl);
                this.newxsjl = xsjl;
                //  document.getElementById("oddNum").parent().find("tr.focus").toggleClass("focus");//取消原先选中行
                //   $(this).toggleClass("focus");//设定当前行为选中行
            }
        }
    });
    xsjlVue.getXsjl();

    let xssearchinfo = $(queryxsinfo);
    let xsaddinfo =  $(addxsinfo);
    let xsresultinfo = $(resultxsinfo);

    function tzfunc(el) {
        $("html, body").animate(
            {
                scrollTop:el.offset().top
            },
            {duration: 500,easing: "swing"}
        );
        return false;
    }

</script>

</body>
</html>